absl-py==0.1.11
apiclient==1.0.3
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.6.2
basemap==1.1.0
beautifulsoup4==4.4.1
bleach==1.5.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
colorama==0.4.0
country-list==0.1.1
cryptography==2.3.1
cycler==0.10.0
Cython==0.29
docutils==0.14
ez-setup==0.9
gast==0.2.0
grpcio==1.10.0
gspread==2.1.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
Jinja2==2.10
Keras==2.1.5
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
lxml==4.2.4
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.1
ndg-httpsclient==0.5.1
nltk==3.2.5
numpy==1.14.1
oauth2client==4.1.2
pandas==0.23.4
patsy==0.5.0
Pillow==9.0.1
play-scraper==0.4.1
protobuf==3.5.2
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycountry==18.5.26
pycparser==2.19
pygame==1.9.3
Pygments==2.2.0
PyMySQL==0.8.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypiwin32==223
PyPrind==2.11.1
pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.6.1
python-for-android==0.6.0
python-gitlab==1.6.0
python2==1.2
pytz==2017.3
pywin32==224
PyYAML==3.12
requests==2.9.1
requests-futures==0.9.7
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
selenium==3.8.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.0
statsmodels==0.8.0
tensorboard==1.6.0
tensorflow-gpu==1.6.0
termcolor==1.1.0
Theano==1.0.1
urllib3==1.22
virtualenv==16.1.0
Werkzeug==0.14.1
